services:
  api-gateway:
    build:
      context: .
      dockerfile: Dockerfile
    image: api-gateway:latest
    container_name: api-gateway
    ports:
      - "4004:4004"
    networks:
      - internal
    volumes:
      - ./application.yml:/app/application.yml # Host file -> container
      - ./target/api-gateway-0.0.1-SNAPSHOT.jar:/app/app.jar:ro

networks:
  internal:
    external: true
